body{
    background: fixed;
}

body{
    background: linear-gradient(to bottom, rgb(204, 229, 255),rgba(204, 229, 255, 0.4));
    font-size: 1.15em;
    text-align: justify;
    font-family: "Pt Sans", sans-serif;
}

#title{
    color:rgb(202, 108, 19);
    font-weight: 600;
    font-family: "Pt Sans", sans-serif;
}
.subtitle{
    color:rgb(212, 126, 39);
    font-family:"Quicksand", sans-serif ;
}

.service-image{
    width:70%;
    height:70vh;

   
    background: radial-gradient(circle,rgb(10, 133, 16) 20%,rgb(24, 18, 110) 50%,rgb(148, 10, 28) 60%);
    border: 5px solid rgba(99, 16, 232, 0.719);
    
   

}

.link{
    text-decoration: underline;
}

.italics{
    font-style: oblique;
}

#about-us-image{
    height:300px;
    width: 60%;

    border: 6px solid rgb(94, 7, 17);
    margin: 50px 30px;
    
    float: right;
}

.site-table{
    display: inline-block;
}

.container {
	background-color: rgb(250,250,250);
	margin: 10px;
    height: 300px;

	display: flex;
    flex-direction: raw;
   
    justify-content: center;
    align-items: center;
}

.container-item {
	background: rgb(36, 130, 39);
  color: white;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 50px;
  margin: 10px; 
}

.grid-container {
	background-color: rgb(250,250,250);
	/* margin: 10px; */
	height: 300px;
    margin-bottom: 100px;

	display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* grid-gap: 100px 300px; */
    
    /* justify-content: space-around;
    align-content: space-between; */
   
}

.grid-item {
    color: black;
    font-size: 25px;
    text-align: center;
  
    width: 70px;
    line-height: 40px;
    margin: 10px; 
  }

  .submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
    /* transform: matrix(1, 0.45, 0.45, 1, 100, 100); */
    transition:background, padding 500ms ease-in-out;
    -webkit-transition: background, padding 500ms ease-in-out;
    -moz-transition:background, padding500ms ease-in-out;
    -o-transition: background, padding 500ms 500ms ease-in-out;

  }

.submit-button:hover{
    background: rgb(150, 185, 242);
    padding: 20px 30px;
}

#about-me{
    /* animation-name:red-to-black;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse; */

    -webkit-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -moz-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -ms-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -o-animation: red-to-black 4s linear 0s 2 alternate-reverse;
}

@keyframes red-to-black {
    0%{
        background: red;
        transform: translate(0px, opx);
    }

    40%{
        background: grey;
        transform: translate(10px, 30px);
    }

    100%{
        background: black;
        transform: translate(40px, 50px);
    }
}
/* h2:hover{
    color: red;
}

.subtitle{
    color: green;
}



/* li:nth-child(1){
    color:blue;
} */

/* h2 + a {
    color: black;
}

textarea ~ button{
    color:red;
}

ul > li{
    color: purple;
}

ul li{
    color:green;
}

img[src*="../img/"]{
    border: 10px solid black
} */

/* h2[class^=article-subtitle]{
    background: blue;
} */
/* h2[class|=article-subtitle]{
    background: black;
} */
/* .link{
    color:blue;
}
.link:visited{
    color:red;
} */ 




